.borders{
  display: flex ;
  flex-direction: row;
  justify-content: space-between ;
  width:auto;
  flex-wrap: wrap;
  text-align: center;
}

.border{
  border: 2px solid grey;
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
}

.name{
  margin: 20px 0;
}